# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/
.cache/
*.pyc

# SQL
*.db

# envs
.venv/
venv/
ENV/
.env
.env.*

# OS/IDE
.DS_Store
Thumbs.db
.vscode/*
!.vscode/settings.json
.idea/

# Data outputs
projects/mini_lake/data/**
!projects/mini_lake/data/.gitkeep
data_engineering/python_fundamentos/alura/machine_learning/dados/creditcard.csv

# datasets
*.csv
*.parquet
*.zip
data/
datasets/
